[submodule "web-server"]
	path = web-server
	url = https://github.com/haha096/SEMS_Project.git
	branch = main
[submodule "project-docs"]
	path = project-docs
	url = https://github.com/yimjongwon/project_7.git
